/* Variables */
:root {
  --primary-color: #8B5CF6;
  --secondary-color: #6B7280;
  
  --background-color: #F9FAFB;

  --text-color: #1F2937;
  --text-color-secondary: #6B7280;
  --text-color-tertiary: #9CA3AF;

  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Outfit', sans-serif;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: var(--font-family-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-secondary);
}

/* Layout */