/* Variables */
:root {
  /* Colors */
  --primary-color: #8B5CF6;
  --secondary-color: #adaeaf;
  
  --background-color: #F9FAFB;

  /* Text Colors */
  --text-color: #1F2937;
  --text-color-secondary: #6B7280;
  --text-color-tertiary: #9CA3AF;

  /* Font Families */
  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Outfit', sans-serif;

  /* Shadows */
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.10);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 8px 24px rgba(0, 0, 0, 0.20);
  --shadow-xl: 0 16px 48px rgba(0, 0, 0, 0.25);
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: var(--font-family-primary);
}

h1, h2, h3, h4, h5, h6, button {
  font-family: var(--font-family-secondary);
}

/* Layout */